:root{
    --bg-btn: #9022203b;
    /* --text-red: #902220; */
}
.locadv{
    display: flex;
    flex-flow: column;
    gap: 15px;
    border: 3px solid gray;
    padding: 5px 10px;
    align-items: center ;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    border-width: 0 0 3px;
}
@media screen and (min-width:550px) {
    .locadv{
        width: 50%;
       border-width: 0 3px 0 0;
    }
}
@media screen and (min-width:930px) {
    .locadv{
        width: 33%;
    }
}
.locadv h3{
    font-size: 22px;
    color: var(--text-red);
    text-align: center;
}