.product-section-4{
    margin: 0 5vw;
}
.project-nav{
    list-style: none;
    display: grid;
    grid-template-rows: auto 5px;
    grid-template-columns: auto auto;
    column-gap: 20px;
    margin: 40px 0 20px;
}
.project-nav li{
    width: 135px;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
}
.project-nav :nth-child(1){
    margin: 0 0 0 auto;
}
.line{
    margin: 0 auto;
    height: 4px;
    width: 135px;
    background: #f00;
    grid-column: 1/3;
    transition: all .5s ease;
}
.left{
    transform: translateX(calc(-50% ));
}
.right{
    transform: translateX(calc(50% + 10px));
}
.project-content{
    border: 1px solid #c9c9c9;
    padding: 6px;
    width: calc(90vw);
    max-height: 60vh;
    min-height: 60vh;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (min-width:750px) {
    .project-content{
        width: 70%;
        margin: auto;
    }
}
.project-content img{
    width: 100%;
    max-height: calc( 60vh - 12px);
    object-fit: fill;
    background-position: center;
    margin: auto ;
}