
.infra-title{
    font-size: 40px; 
    text-align: center;
   
 }
 .infra-title span{
     color: rgb(105, 17, 17);
    border-bottom: 4px solid brown;

 }

/* .infra-whovr{
 background-color: white;
 padding-top: 35px;
 padding: 0px 25px;
 font-size: 16px;
 line-height: 30px;
 
} */

.infra-whovr{
padding-top: 35px;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 300;
    color: #060400;
    line-height: 35px;
    text-align: center; 
    margin: 0 auto; 
    max-width: 800px; 
    text-align: justify;
/* background-color: aliceblue; */

}
.infrabox{
    background: white;
}



.rectangle-box {
    display: flex;
    justify-content:center;
    align-items: center;
    height: 200px;
    /* background-color: #2929e0; */
}

.rectangle-box > a {
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    /* border-bottom: #8b3838; */
    border-bottom: 5px solid #8b3838;
    text-decoration: none;
}

.v1 {
    background-color: #8a8a8a;
    color: white;
    
}

.v2 {
    background-color:#8a8a8a;
    color: white;

}

.v3 {
    background-color: #8a8a8a;
    color: white;
    
}

.rectangle-box > a:hover {
    background-color: #8b3838;
}
.road-project{
    background-color: #ececec;
}

.roadcard{
    width: 340px;
    height: 400px;
    background-color: white;
}
.roadimg1{
    width: 287px;
    height: 165px;
}

.container-road{
    display: flex;
    flex-direction: row;
    margin-left: 180px;
}



.wpp{

    text-align: justify;

}

.rub{
    background-color: #ececec;
}

.white-space
{
    background-color: beige;
}


.card1 {
    width: 300px; /* Adjust the width as needed */
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    height:  385px;
    border-radius: 0%;
  }
  
  .card-img-top {
    width: 100%;
    height: auto;
  }
  
  .card-body {
    width: 300px;
    height: 200px;
    padding: 20px;
    background-color: rgb(253, 253, 253); /* Background color for the bottom half of the card */
  }
  
  .card-title {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }
  
  .card-text {
    font-size: 1rem;
  }
  
  .roadimg1{
    width: 300px;
    height: 200px;
    border: none;
  }

.card-full{
    /* margin: 0%; */
    display: flex;
    /* flex-wrap: ; */
    flex-direction: row;
    gap: 20px;
    /* margin-left: 200px; */
    max-width: fit-content;
    margin:  0 auto;
    border-radius: 0%;
}
.bridge{
  margin: 0 4vw;
}
.infra {
  margin: 0 4vw;
  height: 900px;
}
@media screen and (max-width:615px) {
  .infra .slick-next{
    right: -20px;
  }
  .bridge .slick-next{
    right: -20px;
  }
  .infra .slick-prev{
    left: -20px;
  }
  .bridge .slick-prev{
    left: -20px;
  }
  
}
@media screen and (max-width:500px) {
  .infra .slick-next{
    right: -13.5px;
  }
  .infra .slick-prev{
    left: -13.5px;
  }
  .bridge .slick-next{
    right: -13.5px;
  }
  .bridge .slick-prev{
    left: -13.5px;
  }
  
}
.infra .slick-dots{
  /* bottom: -26px; */
}





















@media only screen and (max-width: 768px) {

.rectangle-box {
    
    padding: 0px 15px;
}
.card1 {
    width: 75%; 
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    height: auto; 
    border-radius: 0%;
    margin: 0 auto;
    margin-bottom: 20px;
    /* margin-left: 50px; */
  }
  
  .card-img-top {
    width: 100%;
    height: auto;
  }
  
  .card-body {
    width: 100%;
    padding: 20px;
    background-color: rgb(253, 253, 253); 
  }
  
  .card-title {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }
  
  .card-text {
    font-size: 1rem;
  }
  
  .roadimg1 {
    width: 100%; 
    height: auto; 
    border: none;
  }
  
  .card-full {
    margin: 0 auto; 
    max-width: 600px; 
    display: flex;
    flex-direction: column;
  }
  .infra-title{
    font-size: 30px; 
    text-align: center;
   
 }
 .infra-title span{
     color: rgb(105, 17, 17);
    border-bottom: 3px solid brown;

 }







}