
:root{
    --primary-color:#0f0f0f;
    --secondary-color:#8c8c8c;
    --primary:#8c241d;
    --white:#fff;
    --card-shadow:  0px 1px 5px 0px #e0e2e6;
    --br-color: #d7d7d7;
    --br-dark:#a9a9a9
}
.pr-color {
    color: var(--primary-color);
}
.se-color {
    color: var(--secondary-color);
}
.primary-card{
    display: flex;
    flex-flow: column;
    /* width: 33%; */
   max-width: 450px;
   min-width: 275px;
   gap: 5px;
   box-shadow: var(--card-shadow);
    border: 1px solid var(--br-color);
    border-radius: 10px 10px 5px 5px;
    margin: 0 auto;
}
.primary-card :not(img){
    padding: 0 10px;
}
.primary-card img{
    width: 100%;
    border-radius: 4px 4px 0 0 ;
}
.primary-card button{
    /* width: 100px; */
    border: none;
    padding: 10px 20px;
    background-color: var(--primary);
    color: var(--white);
}
.price span,.read-more{
    color: var(--primary);
}
.spec1,.spec2{
    display: flex;
}
.spec1 :nth-child(2){
    border: 1px solid var(--br-dark);
    border-width: 0 1px;
}
.spec2 :first-child{margin: 0 auto 0 0;}
.spec1 .icon{
    text-align: center;
    width: 33%;
    font-size: 12px;
}
.spec2 :not(:first-child){margin: 0 0 0 auto;}

/* .social-media div{width: fit-content;} */
.social-media{
    display: flex;
    width: fit-content;
}
.social-media svg{
    width: 100%;cursor: pointer;
}