/* <style> */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* </style> */
*{
    font-family: "Poppins",sans-serif;
    font-family: "Roboto", sans-serif;
}
.hero-img-container{
    height: fit-content;
    position: relative;
    display: inline-block;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    z-index: -1;
}
.hero-img{
    position: relative;
    z-index: -1;
    width: 100%;    
    height: calc(100vh - 80px);
    object-fit: cover;
    background-color: #fff;
}

.hero-content{
    background-image: linear-gradient(to top,#0000008a,#00000000);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}
.hero-content h1{
    margin: 0;
    font-size: 55px;
    color: #fff;
}
.hero-content h1:first-child{
    font-weight: bold;
}
.hero-content h1:nth-child(2){
    font-weight: lighter;
}
/* section css starts */

.lip-section-1,.lip-section-2{
    padding: 40px 25px 80px ;
    display: flex;
    flex-flow: column;
    gap: 30px;
}
.lip-section-1 h1,.lip-section-2 h1,.lip-section-3 h2{
    font-size: 30px;
    margin: 0 auto;
    width: max-content;
}
.lip-section-1 h1 span,.lip-section-2 h1 span,.lip-section-3 h1 span{
    color: #8c241d;
    border-bottom: 4px solid #8c241d;
}
/* section css ends  */

.map{
    display: flex;
    justify-content: center ;
    gap: 30px;  
}
.map-btn{
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    box-shadow: 0px 1px 5px 0px #bdbebf;
    padding: 10px;
    height: fit-content;
    width: 20%;
}
@media screen and (max-width:800px) {
    .map{
        flex-flow: column;
        gap: 10px;
    }
    .map img{
        width: 100% !important;
    }
    .map-btn{
        width: 95%;
    }
}
.map-btn button{
    text-align: start;
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    color: #898989;
    font-size: 17px;
}
.map-btn b{
    font-weight: 600;
    padding: 20px;
    border-bottom: 2px solid #777;
    margin-bottom: 10px;
}   
@media screen and (max-width:800px) {
    .hero-content h1{
        font-size: 35px;
    }
}
@media screen and (max-width:440px) {
    .hero-content h1{
        font-size: 28px;
    }
    .lip-section-1 h1{
        font-size: 25px;
    }
}

/* .lip-section-3 h1:first-child{
    margin: 0 auto;
    width: fit-content;
} */
.lip-section-3{
    display: flex;
    flex-flow: column;
    align-items: center;
}
.lip-section-3 .slide{
    padding: 20px;
    /* border: 1px solid #000; */
    max-width: 80vw;
    /* max-width: 100%; */
    overflow: hidden;
    gap: 10px;
    display: flex;
    /* justify-content: start; */
}
.lip-section-3  {margin: 0 0 90px 0;}