.form input{
    margin: auto;
}
.points{

    display: flex;
    gap: 20px;
    flex-flow: wrap;
}
.boxs{
    display: flex;
    gap: 20px;
    flex-flow: wrap;
}
.box{
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    gap: 10px;
    width: 30vw;
    min-width: 100px;
    border: 1px solid #ddd;
}
.box:hover{
    background-color: #eee;
}
/* .point{

} */