.specification-grid{
    width: 500px;
    height: fit-content;
    display: grid;
    /* width: 100%;
    height: 100%; */
    grid-template-rows:100px 100px 70px repeat(3,auto);
    grid-template-columns: repeat(4,100px) 100px;
    /* grid-template-areas: ; */
    grid-template-areas: 
    'content content content content nullq1 nullq1'
    'content content content content imgs  imgs'
    'nullq2  nullq2  nullq4  sq1     imgs  imgs'
    'nullq3  sq2     imgs2   imgs2   imgs  imgs'
    'sq4     sq3     imgs2   imgs2   imgs  imgs'
    'imgs3   imgs3   imgs2   imgs2   imgs  imgs'
    ;
}
.spec-content{
    grid-area: content;
    /* grid-row: 1/span;
    grid-column: span/3; */
}
.imgs{
    grid-area: imgs;
    display: flex;
    flex-flow: column;
    /* grid-row: 1/span;
    grid-column: span/3; */
}
.imgs2{grid-area: imgs2;display: flex;
    flex-flow: column;}
.imgs3{grid-area: imgs3;}
.sq1{grid-area: sq1;}
.sq2{grid-area: sq2;}
.sq3{grid-area: sq3;}
.sq4{grid-area: sq4;}
.null{
    display: flex;
    width: 70px;
    height: 70px;
    background: #0000006b;
    margin: auto 0 0 auto;
}
.nulld{
    display: flex;
}
.null div{
    background-color: #0000006b !important;
}
.nullq{grid-area: nullq; }
.nullq1{grid-area: nullq1;}
.nullq2{grid-area: nullq2;}
.nullq3{grid-area: nullq3;}
.nullq4{grid-area: nullq4;}
.img img{
    min-width: 100% ;
    height: 100%;
    /* aspect-ratio: 1/1; */

}