@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');





body, html {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.vendor-h2{

  padding: 0px;
    margin: 12px 12px;
    margin-left: 100px;
}


.login-bgs{
  width: 150px;
  height: 95px;
  margin-left: 130px;
  margin-top: 5px;
}
.bg-img {
 height: auto;
  background-image: url("login-bgg.jpg");
  padding: 20px 0;
  min-height: 380px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.containers{
  display: flex;
  justify-content: center;
  background-color: aliceblue;
  width: 600px;
  margin: auto;
}


 /* input[type=text],  input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f5f5dc;
}

 input[type=text]:focus,  input[type=password]:focus {
  background-color: #ffffff;
  outline: none;
} */



.input-fieldr {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f5f5dc;
}

.input-fieldr:focus {
  background-color: #ffffff;
  outline: none;
}

.btn {
  background-color: #a54141;
  color: white;
  padding: 10px 0px;
  border: none;
  cursor: pointer;
  width: 120px;
  opacity: 0.9;
  margin-left: 180px;
  margin-bottom: 10px;
  margin-top: 12px;
}

.btn:hover {
  opacity: 1;
}
.input-container1{
  display: flex;
  flex-direction: row;
  width: 472px;
  gap: 8px;
}
    
.p-div{
  width: 245px;
}
.select{
  width: 345px;
}
#mySelect {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  color: #333;
  background-color: #f5f5dc;
}
/* .pName{
  margin-left: 35px;
} */
/* #mySelect:hover {
  border-color: #d11111;
} */


@media only screen and (max-width: 768px) {



  .containers {
    width: 90%;
  }

  .input-container1 {
    width: 100%;
    flex-direction: column;
    gap: 0;
  }

  .btn {
    margin-left: 0;
  }

  #mySelect {
    width: 70%;
    padding: 10px;
    font-size: 16px;
    border: none;
    color: #333;
    background-color: #f5f5dc;
    margin-left: 35px;

  }

  .pName{
    margin-left: 35px;
  }

   input[type=text],  input[type=password] {
    width: 70%;
    
    border: none;
    background: #f5f5dc;
    margin-left: 35px;

  }


  /* padding: 15px; */
    /* margin: 5px 0 22px 0; */
  .btn {
    background-color: #04AA6D;
    color: white;
    padding: 10px 0px;
    border: none;
    cursor: pointer;
    width: 100px;
    opacity: 0.9;
    margin-left: 100px;
    margin-bottom: 10px;
    MARGIN-TOP: 14PX;
  }
.radio-inline{
  margin-left: 35px;
}

.login-bgs{
  width: 140px;
  height: 85px;
  margin-left:80px;
  margin-top: 5px;
}

.vendor-h2 {
  padding: 0px;
  margin: 12px 12px;
  margin-left: 38px;
}

}


.select select {
  width: 275px; 
  padding: 10px; 
  font-size: 16px;
  border: none;
  color: #333;
  background-color: #f5f5dc;

}



@media only screen and (max-width: 768px) {
  .select select {
    width: 90%; 
    /* margin-right: 50px; */
  }
 
}



